<div style="text-align: center;">
    <h1>Welcome To Angular Authentication</h1>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <ng-container *ngIf="!node.isDropdown; else dropdownTemplate">
        <button mat-icon-button disabled></button>
        {{node.name}}
      </ng-container>
    </mat-tree-node>
  
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <ng-container *ngIf="!node.isDropdown; else dropdownTemplate">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </ng-container>
    </mat-tree-node>
  
    <!-- Template for dropdown button -->
    <ng-template #dropdownTemplate let-node>
      <button mat-icon-button disabled>
        <mat-icon>chevron_right</mat-icon>
      </button>
      {{node.name}}
      <!-- Render children if any -->
      <mat-tree-node *ngFor="let child of getChildren(node)" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{child.name}}
      </mat-tree-node>
    </ng-template>
  </mat-tree>
  